<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.agentnexus.qdrant</string>
  <key>ProgramArguments</key>
  <array>
    <string>__QDRANT_BIN__</string>
    <string>--config-path</string>
    <string>__PROJECT_ROOT__/config/qdrant.yaml</string>
    <string>--disable-telemetry</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__PROJECT_ROOT__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/qdrant.out.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/qdrant.err.log</string>
</dict>
</plist>
